.navbar-nav{
    margin-left: 50px;
  }

  .jumbotron {
    width: 1000px;
    margin-left: 100px;
    border-radius: 30px;
  }

  .container {
    background-color: aqua;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    gap: 80px;
    text-align: center;
    color: black;
  }

  .glyphicon {
    border-radius: 50%;
  }

  .panel-primary{
    background-color: #337ab7;
    color: aliceblue;
  }

  .panel-footer {
    height: 80px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination {
    margin-left: 40%;
  }